* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    /*MUDAR A FONTE DA PAGINA*/
}

body {
    color: #edededed;
    background: #020224;
}


.scroll section {
    position: sticky;
    top: 0;
    left: 0;
    scroll-snap-align: start;
}

.home .home-content h1 span {
    color: #0ef;
}

#particles-js {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 100%;
}

#particles-js .home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(/img/Espaco.png);
    background-size: cover;
    /*MUDAR O backgound da PAGINA*/
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}


.home-content {
    max-width: 600px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 5px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.home-image {
    position: relative;
    top: -10%;
    left: -4%;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 23%;
}

.liquid-shape:nth-child(2) {
    filter: blur(100px);
}