:root {
    --cor-secundaria: #0ef;
    --tamanho-dos-textos: 16px;
    --tamanho-dos-titulos: 20px;
    --brilho-secundaria: cyan;
}

.project {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 140vh;
    background: rgb(2, 2, 36);
    background: linear-gradient(0deg, rgba(2, 2, 36, 1) 0%, rgba(5, 8, 55, 1) 50%, rgba(2, 2, 36, 1) 100%);
}

.main-text2 .h2 {
    margin-top: 100px;
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.main-text2 .h2 span {
    color: var(--cor-secundaria);
}

.container-proj {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 90px 50px;
}

.container-proj .card-proj {
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: rgba(192, 192, 192, 0.387);
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.container-proj .card-proj:hover {
    height: 450px;
}

.container-proj .card-proj .imgBX {
    position: absolute;
    left: 7.3%;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.container-proj .card-proj:hover .imgBX {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.4);
}

.container-proj .card-proj .imgBX img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-proj .card-proj .content-proj {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.container-proj .card-proj:hover .content-proj {
    top: 140px;
    height: 320px;
}

.container-proj .card-proj .content-proj h2 {
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.container-proj .card-proj .content-proj p {
    color: rgb(5, 8, 55);
    font-size: 0.97rem;
    text-align: center;
}

.container-proj .card-proj .content-proj a {
    position: relative;
    top: 10px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

.container-proj .card-proj .content-proj i {
    margin-top: 10px;
    font-size: 20px;
    background: var(--clr);
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}