:root {
    --cor-secundaria: #2720e2;
    --tamanho-dos-textos: 16px;
    --tamanho-dos-titulos: 20px;
    --brilho-secundaria: cyan;
}

.main-text2 .h2 {
    margin-top: 50px;
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.main-text2 .h2 span {
    color: var(--cor-secundaria);
}

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
    height: 100vh;
    width: 100%;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.section__subtitle {
    display: block;
    font-size: .813rem;
    color: white;
    margin-bottom: 3rem;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(2, 2, 36);
    background: linear-gradient(0deg, rgba(2, 2, 36, 1) 0%, rgba(5, 8, 55, 1) 50%, rgba(2, 2, 36, 1) 100%);
}

.skills h1 {
    position: absolute;
}

.skill__container {
    row-gap: 1.5rem;
    position: relative;
    bottom: -170px;
}

.skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: .813rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.skills__title i {
    font-size: 1rem;
    font-weight: initial;
    color: var(--cor-secundaria);
}

.skills__info,
.skills__data,
.skills__blob {
    display: grid;
}


.skills__info {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills__data {
    justify-content: center;
    text-align: center;
}

.skills__blob {
    width: 80px;
    height: 100px;
    background-color: rgba(192, 192, 192, 0.467);
    border-radius: 1rem;
    place-items: center;
    margin-bottom: 1rem;
}

.skills__blob img {
    width: 50px;
}

.skills__name {
    font-size: .813rem;
    margin-bottom: .25rem;
}

.skills__subtitle {
    font-size: .625rem;
    color: #fff;
}

.skills__blob img:hover {
    animation: bounce-skills .6s;
}

@keyframes bounce-skills {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-6px);
    }

    80% {
        transform: translateY(-3px);
    }

    100% {
        transform: translate(0);
    }

}