:root {
    --cor-principal: #020224;
    --cor-secundaria: #0ef;
    --tamanho-das-letras: 16px;
    --brilho-cor-secundaria: cyan;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    /*MUDAR A FONTE DA PAGINA*/
}

body {
    color: #edededed;
    background: #020224;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    height: 70px;
    transition: .5s;
}

.header.sticky {
    background: #020224;
    box-shadow: 0 .1rem 50rem black;

}

.header.sticky .navbar a {
    color: white;
}

.header.sticky .navbar a:hover {
    color: #0ef;
}

.logo {
    display: flex;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #ffff;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    animation: slideTop 1s ease forwards;
    font-family: 'Times New Roman', Times, serif;
}

.logo b {
    position: relative;
    bottom: -40px;
    width: 5px;
    height: 5px;
    border: 9px solid #0ef;
    border-radius: 100%;
}

nav {
    display: flex;
    margin-right: 3.5rem;
}

.navbar {
    position: relative;
    left: 570px;
}

.navbar a {
    display: flex;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    animation: slideTop 1s ease forwards;
}

.toggle {
    position: relative;
    display: flex;
    left: 200px;
    margin-top: 1px;
    cursor: pointer;
    align-items: center;
    font-size: 22px;
    color: #fff;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover {
    color: #0ef;
}

.logo:hover {
    color: #0ef;
}

.scroll {
    scroll-snap-type: y mandatory;
}

.scroll section {
    position: sticky;
    top: 0;
    left: 0;
    scroll-snap-align: start;
}


.home .home-content h1 span {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(/img/Espaco.png) no-repeat;
    background-size: cover;
    /*MUDAR O backgound da PAGINA*/
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-content {
    max-width: 600px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 5px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.home-image {
    position: relative;
    top: -2%;
    left: -4%;
    z-index: 3;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 400px;
    height: auto;
    animation: floatImage 6s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);

    }

    100% {
        transform: translateY(0);

    }
}

.liquid-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 23%;
}

.liquid-shape:nth-child(2) {
    filter: blur(100px);
}

.about {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    scroll-snap-align: center;
    background: #020224;
}

.about-img img {
    padding-bottom: -10%;
    padding-left: 5%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 100px;
}

.about-text h2 {
    padding-bottom: -10%;
    font-size: 70px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4rem;
    width: 700px;
}

.main-text {
    padding-top: 130px;
    margin-top: 150px;
}

.main-text .h2 {
    margin-top: -50px;
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.main-text .h2 span {
    color: #0ef;
}

.main-text .p {
    position: relative;
    text-align: center;
    line-height: 1;
    width: 1000px;
    left: 19%;
}

.main-text .p span {
    color: #0ef;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    background: url(/img/Espaco-inverso.png);
    background-size: cover;
    z-index: 1;
}

.contact-text h2 {
    font-size: 70px;
    line-height: 1;
    text-align: center;
    margin: 60px 0;

}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: -1rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 240px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.inputBox {
    margin-bottom: 10px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;

}

.inputBox textarea:valid~span,
.inputBox textarea:focus~span,
.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #0ef;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding: 0 10px;
    background: #081b29;
    border-left: 1px solid #0ef;
    border-right: 1px solid #0ef;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(3) textarea:valid~span,
.inputBox:nth-child(3) textarea:focus~span,
.inputBox:nth-child(3) input:valid~span,
.inputBox:nth-child(3) input:focus~span {
    background: #0ef;
    color: #1d2b3a;
    border-radius: 2px;
}

.inputBox textarea:valid,
.inputBox textarea:focus,
.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 17px;
    background: #081b29;
    border: 1px solid rgb(255, 255, 255, 0.25);
    color: #0ef;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 50px;
    background: #0ef;
    border-radius: 5px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    cursor: pointer;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    z-index: 2;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 1rem;

}

.top i:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}

.footer {
    height: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}